<%- include('../partials/header'); %>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(f) { %>
        <tr <% if (f.departs < new Date()) {%> style="color: red" <% } %>>
            <td>
              <%= f.airline %>
            </td>
            <td>
              <%= f.airport %>
            </td>
            <td>
              <%= f.flightNo %>
            </td>
            <td>
              <%= f.departs.toLocaleDateString() %>
                <%= f.departs.toLocaleTimeString().replace(':00', '' ) %>
            </td>
            <td>
              <a href="/flights/<%= f._id %>">Flight Details</a>
            </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <%- include('../partials/footer'); %>