<%- include('../partials/header') %>

  <section id="show-page">
    <div>Airline: </div>
    <div>
      <%= flight.airline %>
    </div>
    <div>Airport: </div>
    <div>
      <%= flight.airport %>
    </div>
    <div>Flight Number: </div>
    <div>
      <%= flight.flightNo %>
    </div>
    <div>Departure Time: </div>
    <div>
      <%= flight.departs.toLocaleDateString() %>
        <%= flight.departs.toLocaleTimeString().replace(':00', '' ) %>
    </div>
  </section>

  <br>
  <section>
    <h2>Tickets</h2>
    <% if (tickets.length) { %>
     <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% tickets.forEach(function(t) { %>         
              <td>
                <%= t.seat %>
              </td>
              <td>
                <%= t.price %>
              </td>             
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Tickets Yet</h5>
      <% } %>
      <a href="/flights/<%= flight._id %>/tickets/new"><button>New Ticket</button></a>
    </section>

  <h2>Destination</h2>
  <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Destination Airport:
      <select name="airport">
        <option value="DEN">DEN</option>
        <option value="DFW">DFW</option>
        <option value="JFK">JFK</option>
        <option value="LAX">LAX</option>
        <option value="SEA" selected>SEA</option>
        <option value="SFO">SFO</option>
      </select>
    </label><br>
    <label>Arrival:
      <input type="datetime-local" name="arrival">
    </label>
    <input type="submit" value="Add Destination">
  </form>
  <br>

    <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Arrival Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr <% if (d.arrival < new Date()) {%> style="color: red" <% } %>>
              <td>
                <%= d.airport %>
              </td>
              <td>
                <%= d.arrival.toLocaleDateString() %>
                  <%= d.arrival.toLocaleTimeString().replace(':00', '' ) %>
              </td>
              <td>
                
              </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Destinations Added</h5>
      <% } %>


        <%- include('../partials/footer') %>